/* Your CSS Code here. */
.holder {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item {
  width: 100px;
  height: 100px;
  font-size: 40px;
  font-weight: bold;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px; /* Adds space between rows */
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}
